<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <%-CSSList%>
</head>
<body>
    <div id="app">
        <%-pageHeader%>
        <div id="page_body" class="page_body">
            <div id="body_detail" class="main_detail">
                <div class="filter_panel">
                    <input type="text" class="search_input" placeholder="输入题号或名称以搜索题目">
                    <div class="filter_panel_right">
                        <label for="diff_select">难度：</label><select id="diff_select" class="filter_select"></select>
                        <label for="class_select">分类：</label><select id="class_select" class="filter_select"></select>
                        <label for="status_select">状态：</label><select id="status_select" class="filter_select"></select>
                    </div>
                </div>
                <hr class="gap_hr"/>
                <div class="question_list">
                    <table id="question_table" class="question_table">
                        <tr class="table_title">
                            <th class="table_head">编号</th>
                            <th class="table_head text_align_left">题目</th>
                            <th class="table_head">难度</th>
                            <th class="table_head">通过率</th>
                            <th class="table_head">状态</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <%-pageBottom%>
        <%-errorDialog%>
    </div>
</body>
<%-scriptList%>
</html>