<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <%-CSSList%>
</head>
<body>
<div id="app">
    <%-pageHeader%>
    <div id="code_panel" class="code_panel">
        <div id="question_container" class="question_container"><p>question</p></div>
        <div id="vertical_gap" class="vertical_gap"></div>
        <div id="code_container" class="code_container"></div>
    </div>
    <%-errorDialog%>
</div>
</body>
<%-scriptList%>
</html>