<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <%-CSSList%>
</head>
<body>
<div id="app">
    <%-pageHeader%>
    <div id="page_body" class="page_body">
        <div id="body_detail" class="main_detail">
            <div class="menu_panel">
                <ul id="menu_list1" class="tab_panel"></ul>
            </div>
            <div class="detail_panel">
                <a id="detail_title" class="detail_title">标题</a>
                <hr class="detail_hr"/>
                <div id="detail_detail"  class="detail_detail"></div>
            </div>
        </div>
    </div>
    <%-pageBottom%>
    <%-errorDialog%>
</div>
</body>
<%-scriptList%>
</html>