<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <%-CSSList%>
</head>
<body>
<div id="app">
    <%-pageHeader%>

    <%-pageBottom%>
    <%-errorDialog%>
</div>
</body>
<%-scriptList%>
</html>